<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Rotas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Rotas.Properties.Settings>
      <setting name="Versão" serializeAs="String">
        <value>Versão 4.2 : Adicionado  Radio(Rota 1 e Rota 2)
Versão 4.2 : Adicionado  Checagem por senha antes de qualquer alteração(Padrao)
Versão 4.3 : Correção de BUG ao modificar Rotas( Rota 1 e Rota 2 não entrava nas modificações) Obrigado Davi.
Versão 4.3 : Instalação Automatica no Disco Local C:
Versão 4.3 :  Odenação da tabela de alteração por data. Obrigado Davi</value>
      </setting>
    </Rotas.Properties.Settings>
  </userSettings>
</configuration>